src/main/resources/wsdl/thelibrary.wsdl

<?xml version="1.0"?>
<wsdl:definitions name="thelibrary"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
          xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	      xmlns:tns="http://thiblibrary.org/ws"
	      xmlns:types="http://thiblibrary.org/ws"
	      targetNamespace="http://thiblibrary.org/ws">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		           elementFormDefault="qualified"
		           targetNamespace="http://thiblibrary.org/ws">
			<xsd:element name="getBookRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="bookTitle" type="xsd:string"/>
						<xsd:element name="authorName" type="xsd:string"/>
						<xsd:element name="bookCategory" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getBookResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="book" type="tns:bookDtoJaxb"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="bookDtoJaxb">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:long"/>
					<xsd:element name="title" type="xsd:string"/>
					<xsd:element name="language" type="xsd:string"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="authors" type="tns:authorDtoJaxb"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="categories" type="tns:categoryDtoJaxb"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="authorDtoJaxb">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:long"/>
					<xsd:element name="firstName" type="xsd:string"/>
					<xsd:element name="lastName" type="xsd:string"/>
					<xsd:element name="nationality" type="xsd:string"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="books" type="tns:bookDtoJaxb"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="categoryDtoJaxb">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:long"/>
					<xsd:element name="style" type="xsd:string"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="books" type="tns:bookDtoJaxb"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getUserRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="userName" type="xsd:string"/>
						<xsd:element name="email" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getUserResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="0" name="userDtoJaxb" type="tns:userDtoJaxb"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="userDtoJaxb">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:long"/>
					<xsd:element name="password" type="xsd:string"/>
					<xsd:element name="firstName" type="xsd:string"/>
					<xsd:element name="lastName" type="xsd:string"/>
					<xsd:element name="userName" type="xsd:string"/>
					<!--
							   <xsd:element name="registrationDate" type="xsd:dateTime"/>
				   -->
					<xsd:element maxOccurs="1" minOccurs="0" name="coordinates" type="tns:coordinatesDtoJaxb"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="roles" type="tns:roleDtoJaxb"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="loans" type="tns:loanDtoJaxb"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="coordinatesDtoJaxb">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:long"/>
					<xsd:element name="email" type="xsd:string"/>
					<xsd:element name="street" type="xsd:string"/>
					<xsd:element name="streetNumber" type="xsd:string"/>
					<xsd:element name="additionalInformation" type="xsd:string"/>
					<xsd:element name="city" type="xsd:string"/>
					<xsd:element name="postalCode" type="xsd:long"/>
					<xsd:element name="phone" type="xsd:string"/>
					<xsd:element name="user" type="tns:userDtoJaxb"/>
					<xsd:element name="editor" type="tns:editorDtoJaxb"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="editorDtoJaxb">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:long"/>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="coordinates" type="tns:coordinatesDtoJaxb"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="books" type="tns:bookDtoJaxb"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="roleDtoJaxb">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:long"/>
					<xsd:element name="role" type="xsd:string"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="users" type="tns:userDtoJaxb"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="loanDtoJaxb">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:long"/>
					<xsd:element name="startDate" type="xsd:date"/>
					<xsd:element name="returned" type="xsd:boolean"/>
					<xsd:element name="initialEndDate" type="xsd:date"/>
					<xsd:element name="extendedEndDate" type="xsd:date"/>
					<xsd:element name="user" type="tns:userDtoJaxb"/>
					<xsd:element name="book" type="tns:bookDtoJaxb"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getBookRequest">
		<wsdl:part element="tns:getBookRequest" name="getBookRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUserRequest">
		<wsdl:part element="tns:getUserRequest" name="getUserRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getBookResponse">
		<wsdl:part element="tns:getBookResponse" name="getBookResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUserResponse">
		<wsdl:part element="tns:getUserResponse" name="getUserResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ThelibraryPort">
		<wsdl:operation name="getBook">
			<wsdl:input message="tns:getBookRequest" name="getBookRequest"> </wsdl:input>
			<wsdl:output message="tns:getBookResponse" name="getBookResponse"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUser">
			<wsdl:input message="tns:getUserRequest" name="getUserRequest"> </wsdl:input>
			<wsdl:output message="tns:getUserResponse" name="getUserResponse"> </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ThelibraryPortSoap11" type="tns:ThelibraryPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getBook">
			<soap:operation soapAction="http://thiblibrary.org/ws/getBook"/>
			<wsdl:input name="getBookRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getBookResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUser">
			<soap:operation soapAction="http://thiblibrary.org/ws/getUser"/>
			<wsdl:input name="getUserRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getUserResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ThelibraryPortService">
		<wsdl:port binding="tns:ThelibraryPortSoap11" name="ThelibraryPortSoap11">
			<soap:address location="http://localhost:8080/thiblibrary/ws"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
